@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

:root{
    --guide-border: 1px solid rgba(241, 56, 56, 0);

    --light-purple: #8929ac;
    --dark-puple: rgb(70, 2, 95);

    --title-a-color: #5e5e5e;
    --title-b-color: #322E64;

    --book-color: rgb(254, 253, 255);
    --read-color: #35316db9;
    --unread-color: #42424244;

    --book-display-background: #5650af2f; 
    
    --side-panel-background: rgba(50, 46, 100, 0.95);
    --side-collar-background: rgba(89, 83, 172, 0.8);
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Marmelad', sans-serif;

    box-sizing: border-box;
}

div{
    border: var(--guide-border);
}

select, option, .read-div, button,
input, .side-collar{
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    flex: 0.15;
    min-height: 12vh;
    /* border-bottom: 1px solid var(--title-b-color); */

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 2px -2px gray;
}


.page-title{
    margin-left: auto;
    font-size: 2.5rem;
    color: var(--title-a-color);
}


.title-b{
    color: var(--title-b-color);
}

.stats{
    margin-left: auto;
    margin-right: 2rem;
    justify-self: end;
    padding: 0.5rem;
    /* border: 2px solid var(--light-purple); */
    border-radius: 10px;
    text-transform: uppercase;
    font-size: small;

    min-width: 8rem;
}

.stats > div{
    display: flex;
    justify-content: space-between;
}


.sort-option{
    /* background-color: #f1f1f1; */
    background-color: var(--book-display-background);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.sort-option label{
    color: var(--dark-puple);
    margin: 0 0.5rem 0 2rem;
}

.sort-option select{
    border-radius: 5px;
    border: 1px solid var(--dark-puple);
    padding: 0.3rem;
    min-height: 1.5rem;
    background-color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.2);
}

.main{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: var(--book-display-background);
    /* background-color: #ffffff; */

}


.book-display{
    flex: 0.8;
    max-height: 80%;

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.3fr));
    gap: 2rem;
    margin: 2rem auto 1rem;
}

.book-display.empty{
    background-image: url(img/empty-lib.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.book{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    display: grid;
    grid-template: 1fr 0.8fr 0.5fr 0.8fr 2fr 0.5fr / 1fr;
    gap: 0.2rem;

    max-width: 260px;
    min-height: 360px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 2px 15px 15px 2px;
    background-color: var(--book-color);
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
}

.book:hover{
    scale: 1.05;
    transition: 0.3s;
}

.book > div{
    /* margin: 0.8rem; */
}

.book-title, .book-author,
.book-pages, .book-genre,
.book-summary{
    padding: 0.5rem;
}

.book-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-title{
    font-weight: 600;
    font-size: 1.4rem;
    max-width: 16ch;
    word-wrap: break-word;
}

.remove-button{
    max-height: 90%;
    font-size: 1rem;
    align-self: center;
    margin-right: 1rem;
    border: none;
    background-color: #fff;
    transition: 0.2s;
}

.remove-button:hover{
    color: red;
    scale: 1.8;
   /*  transform: rotate(0.5turn); */
    transition: 0.2s;
}

.book-author{
    font-size: 0.8rem;
}

.book-pages{
    font-size: 0.8rem;
}

.book-pages::after{
    content: '  pages';
}

.book-genre{
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.book-summary{
    font-style: italic;
    max-width: 25ch;
    word-wrap: break-word;
}

.read-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--read-color);
    color: #f1f1f1;
    border-radius: 0 0 15px 0;
    text-transform: uppercase;
    transition: 0.3s;

}

.read-div.unread{
    background-color: var(--unread-color);
    color: black;
    transition: 0.3s;
}

.side{
    /* flex: 0.1; */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    max-height: 80%;
    width: clamp(35vw, 38vw, 40vw);
   /*  min-width: 38vw; */
    right: clamp(-32vw, -34vw, -35vw);
    z-index: 1;
    transition: 0.3s;
}

/* @media screen and (max-width: 750px) {
    .side{
      right: -90%;
    }
  } */

.side.active{
    right: 0;
    transition: 0.3s;
}

.side-collar, .side-panel{
    border-radius: 10px 0 0 10px;
}

.side-collar{
    flex: 1;
    min-height: 8rem;
    max-width: 3rem;
    min-width: 2rem;
    align-self: center;
    background-color: var(--side-collar-background);

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    
}

.side-collar > div{
    min-width: 100px;
    transform: rotate(-90deg);
    margin-bottom: 0.8rem;

    color: #f1f1f1;
    text-transform: uppercase;
}

.side-panel{
    flex: 1;
    height: 90%;
    display: grid;
    grid-template: 0.8fr / 0.6fr;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--side-panel-background);
}

form{
    display: grid;
    grid-template: repeat(auto-fit, 1fr) / 1fr;
    gap: 1rem;
    margin-left: 0.5rem;
    margin-top: auto;
    padding: 1rem 0;
}

label{
    color: aliceblue;
    text-transform: uppercase;
    text-shadow: #322E64;
}

.input{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

input{
    height: 1.5rem;
    font-size: medium;
    padding-left: 0.6rem;
    /* background-color: rgb(240, 214, 255); */
    border-radius: 5px;
}

textarea{
    font-size: 0.9rem;
    padding: 0.3rem;
}

#add-book-button, #load-button{
    max-width: 50%;
    min-width: 30%;
    height: 2rem;
    justify-self: start;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}

#load-button{
    opacity: 1;
    color: white;
    margin-left: 1rem;
    background-color: var(--book-display-background);
}