:root{
    --guide-border: 1px solid red;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

div{
    border: var(--guide-border);
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    flex: 0.15;
}

.main{
    display: flex;
    flex: 1;
    justify-content: space-between;
    /* align-items: center; */
}


.book-display{
    flex: 0.8;
    max-height: 80%;

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto 1rem;
}

.book{
    max-width: 250px;
    max-height: 300px;
}

.side{
    /* flex: 0.1; */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    height: 80%;
    width: 40vw;
    right: -30vw;
    z-index: 1;
}

.side.active{
    right: 0;
}

.add-book, .side-panel{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px 0 0 10px;
}

.add-book{
    flex: 1;
    min-height: 15vh;
    max-width: 3rem;
    align-self: center;
}

.side-panel{
    flex: 1;
    height: 90%;
}