@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

:root{
    --guide-border: 1px solid rgba(241, 56, 56, 0);
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Marmelad', sans-serif;
}

div{
    border: var(--guide-border);
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    flex: 0.15;
    min-height: 12vh;
    border-bottom: 2px solid #B61DEC;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title{
    font-size: 2.5rem;
}

.title-b{
    color: #B61DEC;
}

.main{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #f1f1f1;
}


.book-display{
    flex: 0.8;
    max-height: 80%;

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.3fr));
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto 1rem;
}

.book-display.empty{
    background-image: url(img/empty-lib.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.book{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 250px;
    max-height: 300px;
    border: 1px solid black;
    border-radius: 2px 10px 10px 2px;
}

.book > div{
    margin: 1rem;
}

.book-title{
    font-weight: 600;
    font-size: 1.5rem;
}
.book-author{
    font-size: 0.8rem;
}

.book-pages{
    font-size: 0.8rem;
}

.book-pages::after{
    content: '  pages';
}

.book-genre{
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.book-summary{
    font-style: italic;
}

.side{
    /* flex: 0.1; */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    height: 80%;
    width: 40vw;
    right: -35vw;
    z-index: 1;
    transition: 0.3s;
}

.side.active{
    right: 0;
    transition: 0.3s;
}

.side-collar, .side-panel{
    background-color: rgba(71, 0, 97, 0.5);
    border-radius: 10px 0 0 10px;
}

.side-collar{
    flex: 1;
    min-height: 18vh;
    max-width: 3rem;
    min-width: 2rem;
    align-self: center;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    
}

.side-collar > div{
    min-width: 100px;
    transform: rotate(-90deg);
    margin-bottom: 0.8rem;

    color: #f1f1f1;
    text-transform: uppercase;
}

.side-panel{
    flex: 1;
    height: 90%;
    display: grid;
    grid-template: 0.8fr / 0.6fr;
    justify-content: center;
    align-items: center;
}

form{
    display: grid;
    grid-template: repeat(auto-fit, 1fr) / 1fr;
    gap: 1rem;
}

label{
    color: aliceblue;
    text-transform: uppercase;
}

.input{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

input{
    height: 1.5rem;
    font-size: medium;
    padding-left: 0.6rem;
}

textarea{
    padding: 0.3rem;
}

#add-book-button{
    max-width: 40%;
    justify-self: start;
}